// ==========================================================================
// Color fondo
// ==========================================================================
$background: #007bdf;
$color-button: #fba905;
$color-button--hover: #f2a304;
$color-white: #fff;

// ==========================================================================
// Tamaños de dispositivos
// ==========================================================================
$mobile-width: 300px;
$tablet-width: 769px;
$desktop-width: 992px;
$television-width: 1200px;

// ==========================================================================
// Media Queries
// ==========================================================================

// Ancho de teléfonos
// 300px - 768px
@mixin smartphone {
  @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

// Ancho de Tabletas
// 769px - 991px
@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

// Ancho de Laptops
// 992px -1199px
@mixin laptop {
  @media (min-width: #{$desktop-width}) and (max-width: #{$television-width - 1px}) {
    @content;
  }
}

// Ancho de Televisiones
// 1200 >
@mixin television {
  @media (min-width: #{$television-width}) {
    @content;
  }
}

// ==========================================================================
// Código general
// ==========================================================================
* {
  font-family: 'Lato', sans-serif;
}

.button--cta {
  background-color: $color-button;
  display: inline-block;
  padding: .8em 1.6em;
  color: $color-white;
  margin: 0 0 0 0;
  cursor: pointer;
  text-decoration: none;
  border-radius: .25rem;
  transition: -webkit-transform .05s;
  transition: transform .05s;
  transition: transform .05s,-webkit-transform .05s;
  border: none;
  text-align: center;

  &:hover {
    background-color: $color-button--hover;
  }
}

.button--separator {
  margin-left: 1em;
}

.banner {
  align-items: center;
  background-color: $background;
  background-image: url('img/city-2.png');
  background-repeat: no-repeat;
  background-position: 0 250px;
  clip-path: polygon(0 0,100% 0,100% 100%,0 94%);
  display: flex;
  height: 439px;
  width: 100%;

  @include tablet {
    background-position: 0 340px;
    height: auto;
  }
  
  &__container {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    max-width: 1344px;
    padding-bottom: 2em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 2em;
    width: 100%;
  }

  &__logo {
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 50px 5px white;
    display: inline-block;
    padding: 2em;
    position: relative;
    width: 15em;

    @include tablet {
      margin: auto;
    }

    @include smartphone {
      margin: auto;
      padding: 1em;
      width: 4em;
    }
  }

  &__text {
    color: $color-white;
    font-weight: 300;
    text-align: right;

    @include tablet {
      text-align: center;
      width: 100%;
    }

    @include smartphone {
      text-align: center;
    }
  }

  &__title {
    font-weight: 700;
  }
}

.logo {
  opacity: .3;
  width: 100%;
}

.santa-alexys {
  left: -9em;
  position: absolute;
  top: -1em;

  @include smartphone {
    left: -1.8em;
    top: .2em;
    width: 11em;
  }
}
